.error{
    border:1px solid red;
}
table{
    margin:20px auto;
}
tbody{
    display: block;
}
tr{
    display: flex;
    flex:nowrap;
    width: 100%;
}
td{
    height:20px;
    width: 200px;
}
table td{
    display: flex;
    flex:nowrap;
    justify-content: space-between;
}
 tr .button-del{
    justify-content: right;
    margin-right:1px ;
}